.logout-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Start transparent */
    display: none; /* hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 1050;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.logout-modal.show {
    display: flex;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.logout-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(0.8);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logout-content.show {
    transform: scale(1);
}

.logout-content h3 {
    margin-bottom: 1em;
}

.logout-content label {
    display: block;
    margin: 0.5em 0 0.2em;
}

.logout-content input {
    width: calc(100% - 1em);
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.logout-content button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    width: auto; /* Auto width based on content */
    margin: 10px; /* Space around buttons */
}

.logout-content button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 1em;
}

.logout-content .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 45px;
    color: #000;
    cursor: pointer;
}

